---
import Main from '../../layouts/Main.astro';

export async function getStaticPaths() {
	let votes = await Astro.glob('../../votes/*/*.mdx');

	return (
		votes
		.map(vote => vote.file.replace(/^.*\/([^\/]+)\.mdx$/, '$1'))
		.map(vote => ({
			params: {vote}
		}))
	);
}

const votes = await Astro.glob('../../votes/*/*.mdx');

const vote = votes.find(vote => vote.file.endsWith(Astro.params.vote + '.mdx'));
const Content = vote.Content;
---

<Main>
    <Content/>
</Main>