.poll {
	&.titleless {
		h1, h2 {
			&:nth-child(-n+2) {
				display: none;
			}
		}
	}

	&.disabled {
		label {
			pointer-events: none;
			cursor: default;
		}
		input, button[type="submit"] {
			opacity: 0.5;
			pointer-events: none;
			cursor: default;
		}
	}

	p > img {
		margin: 15px 0;

		@media (max-width: 768px) {
			max-width: 480px;
			height: auto;
		}

		@media (max-width: 576px) {
			max-width: 100%;
		}
	}

	ol p > img {
		@media (max-width: 768px) {
			max-width: 450px;
		}

		@media (max-width: 576px) {
			max-width: 100%;
		}
	}

	label {
		display: block;
		margin-bottom: 8px;
		cursor: pointer;

		input {
			margin-right: 5px;
			cursor: pointer;
		}

		+ textarea {
			display: none;
		}

		&:has(input:checked) + textarea {
			display: block;
		}
	}

	p:has(+ hr) {
		margin-bottom: 0;
	}

	> .toolbar {
		margin: 0 -1rem;
		padding: 1rem 1rem 0;
		border-top: 1px solid var(--border);
	}
}

#confirm-auth-btn {
	@media (max-width: 520px) {
		margin-bottom: 15px;
	}
}