---
import {basename} from 'node:path';
import Main from '../../layouts/Main.astro';

export async function getStaticPaths() {
	const polls = await Astro.glob('../../polls/*.mdx');

	return (
		polls
		.map(poll => ({
			params: {poll: basename(poll.file, '.mdx')},
            props: {poll},
		}))
	);
}

const {poll} = Astro.props;
const Content = poll.Content;
const titles = await poll.getHeadings();
---

<Main title={titles[0].text}>
    <Content/>
</Main>