---
import Main from '../layouts/Main.astro';
---

<Main>
    <h1 class="display-4 text-center m-5">Як це працює</h1>

    <p>Ми прагнемо до максимальної прозорості у функціонуванні нашого проєкту, з якими даними він працює й для чого вони потрібні. Нижче – покрокове пояснення.</p>

    <h2 id="types" class="display-6 mt-4">Типи опитувань</h2>
    <section class="card shadow-soft p-3">
        <p>
            На головній сторінці ви побачите список усіх опитувань зі статусами:
        </p>
        <ul style="list-style-type: none">
            <li><span class="badge text-bg-success">Активне</span> означає, що Ви можете пройти опитування прямо зараз.</li>
            <li><span class="badge text-bg-secondary">Завершене</span> означає, що відповіді більше не приймаємо, і скоро будуть доступні результати й статистичні висновки під цим опитуванням.</li>
            <li><span class="badge text-bg-success">Публічне</span> означає, що будь-хто зможе знайти <strong>Ваше повне імʼя</strong> під цим опитуванням. З таким статусом опитування більше буде схоже на <a title="Wikipedia" href="https://uk.wikipedia.org/wiki/%D0%9F%D0%B5%D1%82%D0%B8%D1%86%D1%96%D1%8F">петицію</a>, саме тому нам потрібне Ваше повне імʼя.</li>
            <li><span class="badge text-bg-secondary">Анонімне</span>, з іншого боку, означає, що Ваше імʼя не зберігається у нашій базі даних.</li>
        </ul>
    </section>

    <h2 class="display-6 mt-4">Який вигляд має опитування</h2>
    <section class="card shadow-soft p-3">
        <p>
            Кожне опитування складається з груп запитань. Для відповідей використовуються:
        </p>
        <ul style="list-style-type: none">
            <li><input type="checkbox" class="form-check-input mt-2"> (чекбокси) - можна обрати кілька варіантів</li>
            <li><input type="radio" class="form-check-input mt-2"> (радіокнопки) - обрати лише один варіант</li>
        </ul>
        <p>
            Після вибору всіх відповідей, з якими ви погоджуєтесь, – потрібно натиснути кнопку <a href="#data" class="btn btn-primary btn-sm">Надіслати відповіді</a>, що відкриє модальне вікно, про яке розповімо нижче.
        </p>
    </section>

    <h2 id="data" class="display-6 mt-4">Які дані ми просимо зберегти</h2>
    <section class="card shadow-soft p-3">
        <p>
            У модальному вікні, перед підтвердженням на збереження Ваших відповідей, Ви побачите попередження, які саме дані будуть збережені у базі.
        </p>
        <ul>
            <li><strong>Імʼя</strong> – якщо опитування <a href="#types" class="badge text-bg-success">Публічне</a></li>
            <li><strong>Стать</strong></li>
            <li><strong>Вік</strong> – кількіть повних років на момент участі</li>
            <li><strong>Адреса реєстрації</strong> – ми перевіряємо чи належите Ви до <strong>Черкаської громади</strong> (м. Черкаси разом з с. Оршанець), але в базі зберігаємо адресу, перетворену у <strong>Plus Code</strong>.</li>
        </ul>

        <h3 id="pluscode">Що таке Plus Code і для чого він?</h3>
        <p>
            <a title="Wikipedia" href="https://uk.wikipedia.org/wiki/%D0%92%D1%96%D0%B4%D0%BA%D1%80%D0%B8%D1%82%D0%B8%D0%B9_%D0%BA%D0%BE%D0%B4_%D1%80%D0%BE%D0%B7%D1%82%D0%B0%D1%88%D1%83%D0%B2%D0%B0%D0%BD%D0%BD%D1%8F">Plus Code</a> - це спеціальний спосіб кодувати географічні координати у вигляді квадрата на карті.
        </p>
        <ol>
            <li>Це <strong>не точна адреса</strong> – в коді зберігається квадрат із певною площею на мапі.</li>
            <li>Ваша адреса <strong>не знаходиться в центрі</strong> цього квадрата, а лише десь на площі.</li>
            <li>Таким чином ми зберігаємо лише приблизне місце, а не конкретний будинок чи квартиру. Це забезпечує Вашу <strong>анонімність</strong>.</li>
        </ol>
        <p>
            Ось приклад такого квадрату, на якому знаходиться <a href="https://plus.codes/8GXJC3V5+" target="_blank">центральна площа міста Черкаси ↗</a>.
            Plus Code цієї площі буде записаний як <strong>8GXJC3V5+</strong>.
            Мається на увазі: інформацію про цю клітинку, неможливо сказати, що мається на увазі - чи сама площа, чи сквер, чи одна з жилих будівель.
        </p>
    </section>

    <h2 id="bankid" class="display-6 mt-4">Звідки ми отримуємо дані</h2>
    <section class="card shadow-soft p-3">
        <p>Ми використовуємо державну українську <a href="https://bank.gov.ua/ua/bank-id-nbu">Систему BankID НБУ</a> – це сервіс, який дозволяє підтвердити особу через свій банк. Коли Ви надаєте згоду, то Система BankID НБУ передає нам пакет даних із вашого профілю у банку. З отриманого набору ми залишаємо та перетворюємо лише поля <a href="#data">описані вище</a>.
        </p>
        <ul class="data-list">
            <li><strong>ПІБ</strong> (тільки якщо опитування <a href="#types" class="badge text-bg-success">Публічне</a>)</li>
            <li>РНОКПП</li>
            <li><strong>Дані щодо місця перебування або проживання</strong> (буде перетворено у <a href="#pluscode">Plus Code</a>)</li>
            <li>Дані ідентифікаційного документу</li>
            <li><strong>Дата народження</strong> (буде перетворено на кількіть повних років на момент участі)</li>
            <li>Громадянство</li>
            <li><strong>Стать</strong></li>
        </ul>

        <strong>Важливо:</strong>
        <ul>
            <li>Система BankID НБУ передає дані <strong>тільки за вашої згоди</strong>.</li>
            <li>Ми не можемо обрати "тільки імʼя і адресу" - Система BankID НБУ передає один зі <a href="https://bank.gov.ua/admin_uploads/article/Perelik_stand_naboriv_danyh.pdf" target="_blank">стандартних наборів даних (pdf) ↗</a>. Нам, на жаль, підходить лише <strong>51 набір</strong>, у якому є <strong>адреса реєстрації</strong>.</li>
        </ul>
    </section>

    <h2 id="address" class="display-6 mt-4">Чому потрібна саме адреса реєстрації</h2>
    <section class="card shadow-soft p-3">
        <p>
            Наш проєкт орієнтований на жителів Черкаської громади (м. Черкаси та с. Оршанець). <strong>Фактична адреса</strong> – є тимчасовою і банк не надає інформації як довго Ви живете по цій адресі. Це може бути як 1 місяць, так і 10 років. З іншого боку <strong>адреса реєстрації</strong> - це як маркер, що ви повʼязуєте себе (свої податки, право вибирати місцеву владу і т.п.) з цією громадою. Саме тому ми орієнтуємось на офіційну адресу реєстрації, а не фактичне місце проживання.
        </p>
    </section>

    <h2 class="display-6 mt-4">Як зберігаються дані</h2>
    <section class="card shadow-soft p-3">
        <p>
            Після відправки відповіді Ваші дані зберігаються у двох таблицях:
        </p>
        <ol>
            <li>
                <strong>Основна таблиця опитування</strong>
                <ul>
                    <li>Відповіді на запитання</li>
                    <li>Імʼя (тільки якщо опитування <a href="#types" class="badge text-bg-success">Публічне</a>)</li>
                </ul>
            </li>
            <li>
                <strong>Таблиця статистики</strong>
                <ul>
                    <li>Стать</li>
                    <li>Вік</li>
                    <li>Адреса (у вигляді <a href="#pluscode">Plus Code</a>)</li>
                </ul>
            </li>
            <li>
                <strong>Закодований архів статистики</strong>
                <ul>
                    <li>Номер опитування</li>
                    <li>Закодовані дані з таблиці статистики</li>
                </ul>
            </li>
        </ol>
        <p>
            Одразу після того, як опитування завершилось і ми зробили усі висновки, то дані з <strong>таблиці статистики</strong> переходять у <strong>закодований архів</strong>, щоб ще більше унеможливити вірогідність, що цими даними хтось зможе скористатись у випадку зламу або проникнення. Через деякий час дані з архіву <strong>видаляються назавжди</strong>.
        </p>
    </section>

    <h2 class="display-6 mt-4">Принципи, якими ми керуємось</h2>
    <section class="card shadow-soft p-3">
        <ul>
            <li><strong>Прозорість</strong> – ми відкрито пояснюємо, які дані беремо та для чого.</li>
            <li><strong>Мінімізація</strong> – залишаємо тільки потрібне для опитування та висновків.</li>
            <li><strong>Анонімність</strong> – використовуємо абстрактні дані, де це можливо: вік замість дати народження, plus code замість точної адреси.</li>
            <li><strong>Довіра</strong> – дані ніколи не передаються третім сторонам, закодовуються на усіх етапах, видаляються як тільки втрачають необхідність.</li>
        </ul>
    </section>
</Main>

<style lang="less">
    section > * {
        line-height: 2;
    }
</style>