---
import Main from '../layouts/Main.astro';
import Header from '../components/Header.astro';
import Poll from '../components/Poll.astro';
import {getPolls} from '../lib/polls';

const active = getPolls();
---

<Main>
    <h1 class="display-4 text-center m-5">{import.meta.env.TITLE}</h1>

    <Header/>

    {active.length > 0 &&
    <section>
        <h2 class="display-5 text-center mb-5">Поточні опитування</h2>

        {active.map((poll) => (
			<Poll poll={poll}/>
		))}
    </section>}
</Main>