---
import Main from '../layouts/Main.astro';
import {LoginButton} from '../components/LoginModal.jsx';
import {TITLE} from '../const';

const active = (await Astro.glob('../polls/*.mdx')).map(item => item.Content);
const inactive = []; //await Astro.glob('../polls/past/*.mdx');
---

<Main>
    <section class="text-center mb-5">
        <h1 class="display-4 fw-bold mb-5">{TITLE}</h1>

        <p class="lead text-start">
            Ідентифікуйте себе за добомогою системи BankID НБУ та зможете взяти участь у поточних опитуваннях.
        </p>

        <LoginButton client:load/>
    </section>

    {active.length > 0 &&
    <section>
        <h2 class="display-5 text-center mb-5">Поточні опитування</h2>

        {active.map(Content => <Content/>)}
    </section>}

    {inactive.length > 0 &&
    <section>
        <h2 class="display-5 text-center mb-5">Минулі опитування</h2>

        {inactive.map(Content => <Content/>)}
    </section>}
</Main>