---
import Main from '../layouts/Main.astro';
import LoginButton from '@components/LoginButton.jsx';
import {TITLE} from '../const';

const active = (await Astro.glob('../polls/*.mdx')).map(item => item.Content);
const inactive = []; //await Astro.glob('../polls/past/*.mdx');
---

<Main>
    <section class="text-center mb-5">
        <h1 class="display-4 fw-bold mb-5">{TITLE}</h1>

        <p class="lead text-start">
            Ідентифікуйте себе за добомогою системи BankID НБУ та зможете взяти участь у поточних опитуваннях.
        </p>

        <div style="min-height: 50px">
            <LoginButton client:only="solid-js"/>
        </div>
    </section>

    {active.length > 0 &&
    <section>
        <h2 class="display-5 text-center mb-5">Поточні опитування</h2>

        {active.map(Content => (
            <article class="mt-5">
                <Content/>
            </article>
        ))}
    </section>}

    {inactive.length > 0 &&
    <section>
        <h2 class="display-5 text-center mb-5">Минулі опитування</h2>

        {inactive.map(Content => (
            <article class="mt-5">
                <Content/>
            </article>
        ))}
    </section>}
</Main>