---
import Main from '../layouts/Main.astro';
import LoginButton from '../components/LoginButton.astro';
import Poll from '../components/Poll.astro';
import {getPolls} from '../lib/polls';

const active = getPolls();
---

<Main>
    <h1 class="display-4 text-center m-5">{import.meta.env.TITLE}</h1>

    <section class="card shadow-soft mb-5 pb-3" aria-labelledby="eligibility-title">
        <div class="card-body">
            <h2 id="eligibility-title" class="h6 mb-2">Важливо перед початком:</h2>
            <ol class="mb-2">
                <li>Участь в опитуванні можуть взяти лише жителі <strong>Черкаської громади (Черкас і Оршанця)</strong></li>
                <li>Щоб ваші відповіді були зараховані, потрібно пройти безкоштовну ідентифікацію через <strong>Систему BankID НБУ</strong></li>
            </ol>
        </div>

        <div class="text-center gap">
            <LoginButton size="lg"/>

            <a class="btn btn-light ms-2" href="/faq/">Детальніше про проєкт</a>
        </div>
    </section>

    {active.length > 0 &&
    <section>
        <h2 class="display-5 text-center mb-5">Поточні опитування</h2>

        {active.map((poll) => (
			<Poll poll={poll}/>
		))}
    </section>}
</Main>