---
import Main from '../layouts/Main.astro';
import Header from '../components/Header.astro';
import Poll from '../components/Poll.astro';
import {getActivePastPolls} from '../lib/polls';

const [active, past] = getActivePastPolls();
---

<Main>
    <h1 class="display-4 text-center m-5">{import.meta.env.TITLE}</h1>

    <Header/>

    {active.length > 0 &&
    <section>
        <h2 class="display-5 text-center mb-5 mt-5">Поточні опитування</h2>

        {active.map((poll) => (
			<Poll poll={poll}/>
		))}
    </section>}

    {past.length > 0 &&
    <section>
        <h2 class="display-5 text-center mb-5 mt-5">Минулі опитування</h2>

        {past.map((poll) => (
			<Poll poll={poll}/>
		))}
    </section>}
</Main>