---
import Main from '../layouts/Main.astro';
import LoginButton from '../components/LoginButton.astro';
import Poll from '../components/Poll.astro';
import {formatAddresses} from '@server/config/auth.js';
import {getPolls} from '../lib/polls';

const addr = formatAddresses();
const active = getPolls();
---

<Main>
    <h1 class="display-4 text-center m-5">{import.meta.env.TITLE}</h1>

    <section class="card shadow-soft mb-5 pb-3" aria-labelledby="eligibility-title">
        <div class="card-body d-flex gap-3">
            <div class="flex-shrink-0" aria-hidden="true">
                ℹ️
            </div>
            <div>
                <h2 id="eligibility-title" class="h6 mb-2">Важливо перед початком:</h2>
                <ol class="mb-2">
                    <li>Участь в опитуванні можуть взяти лише жителі <strong>Черкаської громади (Черкас і Оршанця)</strong></li>
                    <li>Щоб ваші відповіді були зараховані, <strong>потрібно пройти ідентифікацію через BankID</strong></li>
                </ol>
            </div>
        </div>

        <div class="text-center">
            <LoginButton size="lg"/>
        </div>
    </section>

    {active.length > 0 &&
    <section>
        <h2 class="display-5 text-center mb-5">Поточні опитування</h2>

        {active.map((poll) => (
			<Poll poll={poll}/>
		))}
    </section>}
</Main>