---
import Modal from './Modal.astro';
import LoginButton from './LoginButton.astro';
---

<Modal
	id="answer-confirm"
	title="Ідентифікація"
>
	<p>
        Натискаючи кнопку «Погоджуюсь», Ви даєте згоду на обробку та зберігання даних про Вашу <strong>стать</strong>, <strong>вік</strong> і <strong>район Вашої реєстрації</strong>. <a href="/faq/#data" target="_blank" title="Детальніше про обробку Ваших даних">ℹ️ Детальніше</a>
	</p>
	<p>Система BankID НБУ передасть нам більше Ваших даних, але збережемо та <strong>перетворимо</strong> ми лише ті що зазначили вище.<br><a href="/faq/#bankid" target="_blank" title="Детальніше про Систему BankID НБУ">ℹ️ Детальніше</a></p>
    <ul class="data-list">
        <li>ПІБ</li>
        <li>РНОКПП</li>
        <li><strong>Дані щодо місця перебування або проживання</strong> <a href="/faq/#address">ℹ️</a></li>
        <li>Дані ідентифікаційного документу</li>
        <li><strong>Дата народження</strong></li>
        <li>Громадянство</li>
        <li><strong>Стать</strong></li>
    </ul>
    <p>
        Ця інформація не буде публічною.
	</p>

	<Fragment slot="footer">
		<LoginButton
			id="confirm-auth-btn"
			loginTitle="Погодитись та увійти з"
			logout={false}
			size="lg"
		/>

        <button
			id="confirm-btn"
			type="button"
			class="btn btn-primary"
			style="min-width: 122px"
        >
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span class="text">Погоджуюсь</span>
            <span class="text">👌 Збережено</span>
		</button>

        <button
			type="button"
			class="btn btn-light"
			data-close
		>Відмовитись</button>
	</Fragment>
</Modal>

<style lang="less">
	label.btn {
		input {
			opacity: 0;
			width: 1px;
			height: 1px;
		}

		+ div {
			display: none;
		}

		&:has(input:checked) + div {
			display: block;
		}
	}

	#confirm-btn {
		.text:last-child {
			display: none;
		}

		&.btn-success {
			.text {
				display: none;
			}

			.text:last-child {
				display: inline;
			}
		}
	}
</style>

<script>
	import {onChange} from '../lib/auth';
	import {byId, qs} from '../lib/dom';

	onChange(authed => {
		qs('#answer-confirm .modal-header').classList.toggle('d-none', authed);
		byId('confirm-auth-btn').classList.toggle('d-none', authed);
		byId('confirm-btn').classList.toggle('d-none', !authed);
	});
</script>