---
import FbIcon from '../img/facebook.svg';
import IgIcon from '../img/instagram.svg';
---

<footer class="lead card shadow-soft p-3 mt-5">
    <h2><a href="/" class="link-dark link-underline-opacity-0"><img src="/logo/logo-50x37.png" alt="Logo"/> {import.meta.env.TITLE}</a></h2>

    <p class="my-4">
        Цим проєктом Громадська організація «Черкаський інститут міста» започатковує <strong>новий підхід</strong> до проведення <strong>соціологічних досліджень</strong>, які з часом мають замінити старі методи вивчення громадської думки.
    </p>
    <p>
        Завдяки цифровим інструментам соціологічні дослідження можуть стати:
    </p>
    <ol>
        <li>Більш <strong>масовими</strong>, а отже — якіснішими, з меншими статистичними похибками, краще <strong>відображати суспільну думку</strong>, бо тепер опитуваннями легше досягти радикально більшої аудиторії</li>
        <li>Дешевшими та <strong>швидшими</strong>, бо вже не потрібно утримувати великі команди інтерв’юерів, зустрічатися з опитуваними особисто і вручну аналізувати анкети</li>
        <li><strong>Достовірнішими</strong>, бо застосування цифрового підпису та інших <strong>цифрових ідентифікаторів</strong> унеможливлює надання неправдивих даних людьми, які погодилися взяти участь в опитуванні, та відсіює людей, які не є цільовою групою опитування за місцем проживання, дозволяє уникнути фальшування, дублювання опитувальників</li>
    </ol>

    <p>
        Проєкт з відкритим початковим кодом <a href="//github.com/redexp/polls" class="ms-1"><img src="/github-mark.svg" height="23" alt="GitHub"/></a>
    </p>

    <div class="links p-3">
        <div>
            <a href="https://cherkasyurban.institute"><img src="/logo/logo-50x37.png" height={23} alt="Logo"/> Черкаський Інститут Міста</a>
            <span>© {new Date().getFullYear()} Усі права захищено</span>
        </div>
        <div>
            <a href="https://facebook.com/cherkasyurban.institute"><FbIcon/> Facebook</a>
            <a href="https://instagram.com/cherkasyurban.institute/"><IgIcon/> Instagram</a>
        </div>
    </div>
</footer>

<style lang="less">
    .links {
        margin: 0 -1rem;
        border-top: 1px solid var(--border);

        display: flex;
        justify-content: space-between;

        a {
            display: block;
            text-decoration: none;
        }
    }
</style>