<footer class="lead card shadow-soft p-3 mt-5">
    <h2><a href="/" class="link-dark link-underline-opacity-0"><img src="/logo/logo-50x37.png" alt="Logo"/> {import.meta.env.TITLE}</a></h2>

    <p class="my-4">
        Цим проєктом Громадська організація «Черкаський інститут міста» започатковує новий підхід до проведення соціологічних досліджень, які з часом мають замінити старі методи вивчення громадської думки.
    </p>
    <p>
        Завдяки цифровим інструментам соціологічні дослідження можуть стати:
    </p>
    <ol>
        <li>Більш масовими, а отже — якіснішими, з меншими статистичними похибками, краще відображати суспільну думку, бо тепер опитуваннями легше досягти радикально більшої аудиторії</li>
        <li>Дешевшими та швидшими, бо вже не потрібно утримувати великі команди інтерв’юерів, зустрічатися з опитуваними особисто і вручну аналізувати анкети</li>
        <li>Достовірнішими, бо застосування цифрового підпису та інших цифрових ідентифікаторів унеможливлює надання неправдивих даних людьми, які погодилися взяти участь в опитуванні, та відсіює людей, які не є цільовою групою опитування за місцем проживання, дозволяє уникнути фальшування, дублювання опитувальників</li>
    </ol>

    <p>
        Проєкт з відкритим початковим кодом <a href="//github.com/redexp/polls" class="ms-1"><img src="/github-mark.svg" height="23" alt="GitHub"/></a>
    </p>
</footer>