<div
    id="notifications"
    class="fixed-top flex-column align-items-center mt-5"
    style="display: none"
>
    <div class="alert alert-dismissible mb-2">
        <span></span>
        <button type="button" class="btn-close"></button>
    </div>
</div>