---
import Base from '../../layouts/Base.astro';
import CenterCol from '../../components/CenterCol.astro';
import Footer from '../../components/Footer.astro';
---

<Base title="Помилка під час ідентифікації">
    <CenterCol>
        <h2 class="mb-5">⚠️ Відбулася помилка під час ідентифікації через BankID</h2>

        <div id="message" class="alert alert-danger d-none"></div>

        <div id="invalid_address" class="alert alert-danger d-none">
            На цьому проєкті є обмеження по адресі реєстрації.
            Брати участь у опитуваннях можуть лише громадяни зареєстровані у <strong>Черкаській громаді</strong> (м. Черкаси та с. Оршанець).<br>
			<a href="/faq/#address">Чому потрібна саме адреса реєстрації</a>
		</div>

		<Footer/>
    </CenterCol>

    <script>
		import {byId} from '../../lib/dom';
		const qs = new URLSearchParams(location.search);
		const type = qs.get('type');

		if (type) {
			const errorTypeNode = byId(type);

			if (errorTypeNode) {
				errorTypeNode.classList.remove('d-none');
			}
			else {
				formatError(type);
			}
		}

		function formatError(type: string) {
			const map = new Map([
				['no_id', `У вас немає документа, за яким можна було б вас ідентифікувати (РНОКП, паспорт або id картка)`],
				['no_name', `Неможливо дізнатися ваше імʼя`],
				['no_juridical_address', `У вас немає адреси реєстрації, яка необхідна для встановлення територіальної громади до якої ви відноситесь`],
			]);

			if (!map.has(type)) return;

			const div = byId('message');
			div.innerText = map.get(type)!;
			div.classList.remove('d-none');
		}
    </script>
</Base>