---
import Base from '../../layouts/Base.astro';
import CenterCol from '@components/CenterCol.astro';
import DevBankIDLoginForm from '@components/DevBankIDLoginForm.jsx';
---

<Base title="⚠️ Dev BankID Login">
    <CenterCol>
        <h1 class="display-4 mb-5">⚠️ Тестова сторінка, яка вдає процес ідентифікації через BankID</h1>

        <p>На цьому місті має бути вікно справжнього BankID.</p>
        <p>Поточне вікно створено лише задля повторення процесу ідентифікації.</p>
        <p>Нижче інформація, яку ми отримуємо від BankID. Ви можете заповнити вигаданою інформацією. Усі поля обовʼязкові для заповнення, окрім номеру квартири.</p>
        <DevBankIDLoginForm client:load/>
	</CenterCol>
</Base>