---
import 'bootstrap/dist/css/bootstrap.css';
import '../styles/global.less';
import LoginModal from '../components/LoginModal.jsx';
import BankIdTestModal from '../components/BankIdTestModal.jsx';
import Notifications from '../components/Notifications.jsx';

import {TITLE} from '../const';
---
<!DOCTYPE html>
<html lang="ua">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{TITLE}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>
</head>
<body>
<div class="d-flex flex-column align-items-center px-4 pt-5 my-5">
	<div class="col-lg-6">
        <slot/>
	</div>
</div>

<LoginModal client:only="solid-js"/>
<BankIdTestModal client:only="solid-js"/>
<Notifications client:only="solid-js"/>

</body>
</html>
