---
import Base from './Base.astro';
import Footer from '../components/Footer.astro';
import AnswerConfirmModal from '../components/AnswerConfirmModal.astro';
import InfoModal from '../components/InfoModal.astro';

interface Props {
	title?: string,
}

const {title} = Astro.props;
---

<Base title={title}>
    <main class="container pb-5">
        <slot/>

        <Footer/>
	</main>

	<AnswerConfirmModal/>
    <InfoModal/>
</Base>