---
import 'bootstrap/dist/css/bootstrap.css';
import '../styles/global.less';
import {Image} from 'astro:assets';
import LoginModal from '../components/LoginModal.jsx';
import BankIdTestModal from '../components/BankIdTestModal.jsx';
import Notifications from '../components/Notifications.jsx';

import {TITLE} from '../const';

const {title = TITLE} = Astro.props;
---
<!DOCTYPE html>
<html lang="ua">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{title}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/logo/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/logo/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/logo/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>
</head>
<body>
<div class="d-flex flex-column align-items-center px-4 pt-5 my-5">
	<div class="col-lg-6">
        <slot/>

        <footer class="lead text-bg-light p-3 mt-5">
            <h2><img src="/logo/logo-50x37.png" alt="ЧІМ"/> {TITLE}</h2>

            <p class="my-4">
                Цим проєктом Громадська організація «Черкаський інститут міста» започатковує новий підхід до проведення соціологічних досліджень, які з часом мають замінити старі методи вивчення громадської думки.
            </p>
            <p>
                Завдяки цифровим інструментам соціологічні дослідження можуть стати:
            </p>
            <ol>
                <li>Більш масовими, а отже — якіснішими, з меншими статистичними похибками, краще відображати суспільну думку, бо тепер опитуваннями легше досягти радикально більшої аудиторії</li>
                <li>Дешевшими та швидшими, бо вже не потрібно утримувати великі команди інтерв’юерів, зустрічатися з опитуваними особисто і вручну аналізувати анкети</li>
                <li>Достовірнішими, бо застосування цифрового підпису та інших цифрових ідентифікаторів унеможливлює надання неправдивих даних людьми, які погодилися взяти участь в опитуванні, та відсіює людей, які не є цільовою групою опитування за місцем проживання, дозволяє уникнути фальшування, дублювання опитувальників</li>
            </ol>

            <p>
                Проєкт з відкритим початковим кодом <a href="//github.com/redexp/polls" class="ms-1"><img src="/github-mark.svg" height="23" alt="GitHub"/></a>
            </p>
        </footer>
	</div>
</div>

<LoginModal client:only="solid-js"/>
<BankIdTestModal client:only="solid-js"/>
<Notifications client:only="solid-js"/>

</body>
</html>
